#app {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
}

.main-view {
  overflow: auto;
  padding: 32px 48px;
  border-right: 1px solid var(--border);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: var(--hover);
  overflow: hidden;
}

.empty-hint {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--muted);
}
